.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  display: none;
}

.modal.active {
  display: block;
}

.modal-delete {
  width: 400px;
  height: 250px;

  background-color: aquamarine;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.modal-delete h3 {
  width: 100%;
}

.modal-edit {
  background-color: aquamarine;
}
